@import './bootstrap/bootstrap.scss';

h1, h2, h3, h4, h5, h6, .at-title h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
}

pre.config {
    /* @extend .bg-faded; */
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
}

.at-title h3 {
    font-size: 20pt;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 140%;
    font-size: 14pt;
}

.font-14 {
    font-size: 14pt;
}

body {
    font-family: "Lato", sans-serif;
}

img.apricity-laptop {
    margin-bottom: 30px;
}

.home-background-1 {
    // background-color: #0088ff;
}

.home-intro-head {
    text-align: center;
}

.features-intro-head {
    text-align: center;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.navbar {
    margin-bottom: 50px;
}

.home-intro-head {
    margin-bottom: 50px;
}

h1.intro-header {
    font-size: 50pt;
    margin-bottom: 20px;
}

.footer {
    // margin-top: 50px;
    padding-top: 20px;
    background-color: #273040;
    padding-bottom: 20px;
}

.footer p {
    color: #ffffff;
    margin-top: 0px;
}

.footer .footer-category {
    /* text-decoration: underline; */
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer a{
    color: #ffffff;
}

.footer a:hover {
    color: #ffffff;
}

.footer a:active {
    color: #ffffff;
}

.footer a:visited {
    color: #ffffff;
}

.footer hr {
    height: 2px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.what-is-head {
    margin-top: 20px;
    margin-bottom: 20px;
}

.signup-form {
    margin-top: 50px;
}

.signup-form input {
    margin-bottom: 20px;
}

.account-form input {
    margin-bottom: 20px;
}

.login-form input {
    margin-bottom: 20px;
}

.change-password {
    margin-top: 10px;
}

$config-heading-color: #333333;

.config-heading, .config-heading:visited, .config-heading:hover, .config-heading:active{
    color: $config-heading-color;
}

.navbar {
    padding-right: 0px;
}

.create-config-form p {
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset.package-form button {
    margin-top: 10px;
}

fieldset.systemd-form button {
    margin-top: 10px;
}

fieldset.favorite-apps-form button {
    margin-top: 10px;
}

.create-config-form input, .create-config-form textarea {
    margin-bottom: 10px;
}

.remove-btn, .remove-btn:active, .remove-btn:hover, .remove-btn:visited {
    margin-top: 0px;
    padding-top: 2px;
    color: #333333;
    border: 0px solid transparent;
    text-decoration: none;
    background-color: transparent;
}

.zshrc {
    height: 200px;
}

.file {
    margin-bottom: 20px;
}

.code-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.file-tabs {
    margin-bottom: 10px;
}

.create-config-form h5 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.create-config-btn {
    margin-top: 15px;
}

.freezedry {
    margin-top: 40px;
    margin-bottom: 40px;
}

.progressInner {
    height: 40px;
}

.infoLabel {
    height: 38px;
    width: 200px;
}

.uploadPanel {
    margin-bottom: 20px;
}

a.text-muted:active, a.text-muted:hover, a.text-muted:visited,{
    color: #777777;
}

.card-footer {
    // height: 70px;
    padding: 15px;
}

// .freezedry-footer {
//     margin-left: 10px;
//     margin-right: 10px;
// }

.freezedry-footer button {
    margin-top: 5px;
    margin-bottom: 5px;
}

button.create-new-build {
    margin-top: 15px;
    margin-bottom: 15px;
}

button.create-new-config {
    margin-top: 15px;
    margin-bottom: 15px;
}

.iso-row {
    margin-top: 60px;
}

.freezedry-title {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.freezedry-heading {
    margin-bottom: 20px;
}

.material-icons.home-icon {
    font-size: 200px;
    text-align: center;
}

.home-page-feature {
    padding-top: 100px;
    padding-bottom: 100px;
}

.feature-heading {
    font-size: 40pt;
    text-align: center;
    margin-bottom: 50px;
}

.freezedry-feature {
    margin-top: 100px;
    background-color: #1485e0;
    color: #ffffff;
}

.feature-icon-row {
    display: inline-block;
}

.feature-icon-col {
    text-align: center;
    /* margin-bottom: 30px; */
    /* height: 100%; */
    /* margin-top: 10%; */
    vertical-align: middle;
}

.full-width {
    width: 100%;
}

.trifold {
    background-color: #ffffff;
    color: #444444;
}

div.text-centered {
    text-align: center;
}

div.img-centered {
}

.material-icons.trifold-icon {
    font-size: 48px;
}

.col-trifold {
    margin-top: 50px;
}

.user-table {
    margin-top: 50px;
}

.admin-nav {
    margin-bottom: 50px;
}

.content-changer {
    margin-bottom: 20px;
    height: 150px;
}

.content-changer-head {
    margin-bottom: 20px;
    margin-top: 50px;
}

.build-running-alert {
    margin-bottom: 50px;
}

.freezedry-tabs {
    margin-bottom: 20px;
}

.forum-category-spacer {
    margin-bottom: 100px;
}

.forum-category-card {
    margin-bottom: 50px;
}

.category-description {
    margin-bottom: 0px;
}

.forum-comment-body {
    margin-bottom: 0px;
}

.forum-comment-card {
    margin-bottom: 50px;
}

.add-comment {
    margin-bottom: 20px;
}

.discussion-info {
    margin-bottom: 0px;
}

button.add-comment {
    margin-bottom: 0px;
}

textarea.edit-discussion {
    margin-bottom: 20px;
}

textarea.edit-comment {
    margin-bottom: 20px;
}

button.edit-comment {
    margin-bottom: 0px;
}

.add-comment-form, .add-comment-form fieldset {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.edit-comment-form, .edit-comment-form fieldset {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.render-whitespace {
    white-space: pre-wrap;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.discussion-title {
    margin-bottom: 20px;
}

.discussion-body {
    margin-bottom: 20px;
}

.add-discussion-header {
    margin-bottom: 50px;
}

.discussion-category {
    margin-bottom: 20px;
}

.blog-head {
    margin-bottom: 100px;
}

.blog-post-title, .blog-post-title:active, .blog-post-title:hover, .blog-post-title:visited {
    color: #333333;
}

.blog-post-title-div {
    margin-bottom: 30px;
}

.blog-post-card {
    margin-top: 100px;
    margin-bottom: 100px;
}

.docs-entry-title {
    margin-bottom: 20px;
}

.docs-entry-body {
    margin-bottom: 20px;
}

.add-docs-entry-header {
    margin-bottom: 50px;
}

.btn-lg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.docs-head {
    margin-bottom: 100px;
    margin-top: 100px;
}

.docs-page-head {
    margin-bottom: 100px;
}

.docs-entry-title, .docs-entry-title:active, .docs-entry-title:hover, .docs-entry-title:visited {
    color: #333333;
}

.features-page-feature {
    padding-top: 100px;
    padding-bottom: 100px;
}

.features-intro-text {
    font-size: 14pt;
}

.features-page-feature p {
    font-size: 14pt;
}

.features-intro {
    font-size: 50pt;
    margin-top: 100px;
    margin-bottom: 50px;
}

.downloads-intro {
    font-size: 46pt;
    margin-top: 100px;
    margin-bottom: 50px;
}

.security-feature {
    color: #ffffff;
    background-color: #309BDD;
}

.windows-feature {
    color: #ffffff;
    background-color: #0CC34C;
}

.cloud-feature {
    color: #ffffff;
    background-color: #D54749;
}

.donate-row {
    margin-bottom: 20px;
}

.donate-input {
    margin-top: 20px;
}

.donate-wrapper {
    margin-left: 50px;
}

.navbar-buttons {
    margin-left: 20px;
}

.col-md-offset-3 {
    @extend .offset-md-3;
}

.download-deck {
    margin-top: 50px;
    margin-bottom: 100px;
}

.trifold-head {
    margin-bottom: 20px;
}

.all-features-heading {
    font-size: 40pt;
}

.logo {
    width: 80px;
    margin-right: 20px;
}

/* #windows-logo { */
/*     margin-top: 50px; */
/* } */

/* #pencil-img { */
/*     margin-top: -300px; */
/*     margin-bottom: -100px; */
/*     height: 700px; */
/* } */

.trifold-img {
    height: 100px;;
    display: block;
    margin: auto;
}

/* #updates-img { */
/*     margin-top: 50px; */
/* } */

.img-centered {
    display: block;
    margin: auto;
    vertical-align: middle;
}

.feature-icon-inner {
    display: inline-block;
    height: 100%
}

@media (max-width: 766px) {
    .feature-icon {
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 40px;
    }
}

.more-button {
    margin-bottom: 20px;
}

.btn-outline-white {
    @extend .btn-outline-secondary;
    color: #ffffff;
    border-color: #ffffff;
    background-color: transparent;
}

.btn-outline-white:hover {
    background-color: transparent;
    color: #dddddd;
}

.btn-outline-white:active {
    background-color: transparent;
    color: #dddddd;
}

.btn-outline-white:visited {
    background-color: transparent;
    color: #ffffff;
}

.custom-upload-wrapper {
    margin-bottom: 50px;
}

.md5sum {
    /* margin-bottom: 20px; */
}

.md5sum-wrapper {
    margin-bottom: 20px;
}